/* estilo1.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #e3f2fd; /* celeste claro */
  text-align: center;
  padding-top: 100px;
}
h1 { color: #0d6efd; } /* color primario */
p { font-size: 18px; color: #0b3b75; font-weight: bold; }
